.video-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 16px;
  row-gap: 40px;
}

.video-title-link{ 
  text-decoration: none;
  color: black;
}

.thumbnails-row{ 
  margin-bottom: 8px;
}

.thumbnail{
  width: 100%;  
}

.video-info-grid{
  display: grid;
  grid-template-columns: 48px 1fr;
}

.channel-picture{    
  
}

.profile-picture{
  width: 36px;
  border-radius: 18px;  
}

.video-title{
font-size: 14px;
font-weight: 500;
line-height: 20px;
margin-bottom: 10px;
}

.video-author,
.video-stats{
  color: gray;
  font-size: 12px;
}

.video-author{
  margin-bottom: 5px;
}


